
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,600&display=swap');

body{
    font-family:'Playfair Display', serif;
    background-image: url('/assets/backk.png');
    
    background-size:cover ;
    background-repeat: no-repeat;
}

.center-div{
      padding-top: 10%;
}
.btn.btn-success{
    padding:.4em 2em;
}
form{
    padding:0 3em;
}
#login .title>span{
    font-size: .9em;
}
